{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 9 Christopher Samuel</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hi, {{ user.username }}</h1>
        <h2>You logged in at : {{ request.session.login_timestamp }}</h2>
        <a href='{% url 'logout' %}'>Log Out</a>
    {% else %}
        <p>You aren't logged in yet!</p>
        <p>
            Click <a href='{% url 'login' %}'>here</a> to log in using a pre-existing account!
        </p>
    {% endif %}
</body>
</html>